<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
      id="org.openpeer.cordova" version="0.0.0">
  <name>Open Peer Cordova Plugin</name>
  <description>Cordova Plugin that enables using native open peer SDK from Javascript</description>
  <license>Apache 2.0</license>
  <keywords>OP, openpeer, webrtc</keywords>
  <author>Hookflash Inc</author>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/op.js" name="OP">
      <clobbers target="OP" />
  </js-module>
  <js-module src="www/qPromise.js" name="Q">
      <clobbers target="Q" />
  </js-module>

  <platform name="ios">
      <framework src="CoreAudio.framework" />
      <framework src="CoreVideo.framework" />
      <framework src="CoreMedia.framework" />
      <framework src="CoreData.framework" />
      <framework src="CoreGraphics.framework" />
      <framework src="CoreImage.framework" />
      <framework src="Foundation.framework" />
      <framework src="MobileCoreServices.framework" />
      <framework src="QuartzCore.framework" />
      <framework src="AudioToolbox.framework" />
      <framework src="AVFoundation.framework" />
      <framework src="Security.framework" />
      <framework src="UIKIT.framework" />
      <framework src="libz.dylib" />
      <framework src="libxml2.dylib" />
      <framework src="src/ios/OpenpeerSDK.framework" custom="true" />

      <config-file target="config.xml" parent="/*">
          <feature name="CDVOP">
              <param name="ios-package" value="CDVOP"/>
              <param name="onload" value="true" />
          </feature>
      </config-file>

      <header-file src="src/ios/CDVOP.h" />
      <source-file src="src/ios/CDVOP.m" />

      <header-file src="src/ios/WebLoginViewController.h" />
      <source-file src="src/ios/WebLoginViewController.m" />
      <header-file src="src/ios/Delegate.h" />
      <header-file src="src/ios/AccountDelegate.h" />
      <source-file src="src/ios/AccountDelegate.m" />
      <header-file src="src/ios/CallDelegate.h" />
      <source-file src="src/ios/CallDelegate.m" />
      <header-file src="src/ios/ConversationThreadDelegate.h" />
      <source-file src="src/ios/ConversationThreadDelegate.m" />
      <header-file src="src/ios/IdentityDelegate.h" />
      <source-file src="src/ios/IdentityDelegate.m" />
      <header-file src="src/ios/IdentityLookupDelegate.h" />
      <source-file src="src/ios/IdentityLookupDelegate.m" />
      <header-file src="src/ios/MediaEngineDelegate.h" />
      <source-file src="src/ios/MediaEngineDelegate.m" />
      <header-file src="src/ios/OpenPeer.h" />
      <source-file src="src/ios/OpenPeer.m" />
      <header-file src="src/ios/Logger.h" />
      <source-file src="src/ios/Logger.m" />


  </platform>
</plugin>

