<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>outerFrameURL</key>
	<string>http://jsouter-v1-rel-lespaul-i.hcs.io/identity.html?view=choose&amp;amp;federated=false</string>
	<key>identityProviderDomain</key>
	<string>identity-v1-rel-lespaul-i.hcs.io</string>
	<key>identityFederateBaseURI</key>
	<string>identity://identity-v1-rel-lespaul-i.hcs.io/</string>
	<key>namespaceGrantServiceURL</key>
	<string>http://jsouter-v1-rel-lespaul-i.hcs.io/grant.html</string>
	<key>lockBoxServiceDomain</key>
	<string>lockbox-v1-rel-lespaul-i.hcs.io</string>
	<key>defaultOutgoingTelnetServer</key>
	<string>log.opp.me:8115</string>
	<key>localTelnetLoggerPort</key>
	<string>59999</string>
	<key>applicationSettingsBackgroundingPhaseRichPush</key>
	<integer>4</integer>
	<key>openpeer/core/core-thread-priority</key>
	<string>normal</string>
	<key>openpeer/core/media-thread-priority</key>
	<string>real-time</string>
	<key>openpeer/core/backgrounding-phase-conversation-thread</key>
	<integer>1</integer>
	<key>openpeer/core/backgrounding-phase-account</key>
	<integer>1</integer>
	<key>openpeer/core/authorized-application-id-split-char</key>
	<string>-</string>
	<key>openpeer/core/auto-find-peers-added-to-conversation-in-seconds</key>
	<integer>600</integer>
	<key>openpeer/stack/stack-thread-priority</key>
	<string>normal</string>
	<key>openpeer/stack/key-generation-thread-priority</key>
	<string>low</string>
	<key>openpeer/stack/backgrounding-phase-account</key>
	<integer>2</integer>
	<key>openpeer/stack/bootstrapper-force-well-known-over-insecure-http</key>
	<true/>
	<key>openpeer/stack/bootstrapper-force-well-known-using-post</key>
	<true/>
	<key>openpeer/stack/finder-max-client-session-keep-alive-in-seconds</key>
	<integer>300</integer>
	<key>openpeer/stack/finder-connection-send-ping-keep-alive-after-in-seconds</key>
	<integer>0</integer>
	<key>openpeer/stack/move-publication-to-cache-time-in-seconds</key>
	<integer>120</integer>
	<key>openpeer/stack/account-shutdown-on-ice-socket-failure</key>
	<false/>
	<key>openpeer/stack/debug/force-p2p-messages-over-finder-relay</key>
	<false/>
	<key>openpeer/services/services-thread-priority</key>
	<string>high</string>
	<key>openpeer/services/logger-thread-priority</key>
	<string>normal</string>
	<key>openpeer/services/socket-monitor-thread-priority</key>
	<string>real-time</string>
	<key>openpeer/services/timer-monitor-thread-priority</key>
	<string>normal</string>
	<key>openpeer/services/http-thread-priority</key>
	<string>normal</string>
	<key>openpeer/services/backgrounding-phase-ice-socket-session</key>
	<integer>3</integer>
	<key>openpeer/services/backgrounding-phase-turn</key>
	<integer>3</integer>
	<key>openpeer/services/backgrounding-phase-tcp-messaging</key>
	<integer>3</integer>
	<key>openpeer/services/backgrounding-phase-telnet-logger</key>
	<integer>5</integer>
	<key>openpeer/services/backgrounding-phase-1-timeout-in-seconds</key>
	<integer>8</integer>
	<key>openpeer/services/backgrounding-phase-2-timeout-in-seconds</key>
	<integer>0</integer>
	<key>openpeer/services/backgrounding-phase-3-timeout-in-seconds</key>
	<integer>0</integer>
	<key>openpeer/services/backgrounding-phase-4-timeout-in-seconds</key>
	<integer>0</integer>
	<key>openpeer/services/backgrounding-phase-5-timeout-in-seconds</key>
	<integer>0</integer>
	<key>openpeer/services/process-application-message-queue-on-quit</key>
	<true/>
	<key>openpeer/services/turn-candidates-must-remain-alive-after-ice-wake-up-in-seconds</key>
	<integer>600</integer>
	<key>openpeer/services/interface-name-order</key>
	<string>lo;en;pdp_ip;stf;gif;bbptp;p2p</string>
	<key>openpeer/services/support-ipv6</key>
	<false/>
	<key>openpeer/services/max-ice-socket-rebind-attempt-duration-in-seconds</key>
	<integer>60</integer>
	<key>openpeer/services/ice-socket-fail-when-no-local-ips</key>
	<false/>
	<key>openpeer/services/debug/force-packets-over-turn</key>
	<false/>
	<key>openpeer/services/debug/force-turn-to-use-tcp</key>
	<false/>
	<key>openpeer/services/debug/force-turn-to-use-udp</key>
	<false/>
	<key>openpeer/services/debug/only-allow-data-sent-to-specific-ips</key>
	<string></string>
	<key>openpeer/services/debug/only-allow-turn-to-relay-data-sent-to-specific-ips</key>
	<string></string>
</dict>
</plist>
